{% extends 'w.html' %}

{% block body%}
<h1>know about the compnents</h1>
<h3>BLAST FURNACE</h3>
<p>Blast Furnace Cement is the mixture of Ordinary Portland Cement and fine 
    granulated blast furnace slag.This slag is obtained in steel plant as the by product of steel making 
    is produced during the seperation of the molten steel from impurities in steel making furnaces.<a href="https://civilsnap.wordpress.com/2020/07/01/blast-furnace-cement-manufacture-properties-advantages-disadvantages-and-uses/">read more</a></p>
    <br>
<h3>FLY ASH</h3>
<p>Fly ash is a group of materials that can vary significantly in composition.
     It is residue left from burning coal, which is collected on an electrostatic precipitator or in a baghouse. It mixes with flue gases 
     that result when powdered coal is used to produce electric power.
      Since the oil crisis of the 1970s, the use of coal has increased. 
      In 1992, 460 million metric tons of coal ash were produced worldwide. 
      About 10 percent of this was produced as fly ash in the United States.
       In 1996, more than 7 million metric tons were used in concrete in the U.S.
        Economically, it makes sense to use as much of this low-cost ash as possible,
     especially if it can be used in concrete as a substitute for cement.<a href="https://precast.org/blog/using-fly-ash-in-concrete/">read more</a></p>



     {% endblock body%}